body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container{
  position: relative;
}
.container ul{
  list-style-type: none;
}
.container ul li{
  font-size: 14px;
  color:#000;
}
